{% extends "base_generic.html" %}

{% block content %}

{% if user.is_authenticated %}
<h3> Event Details <a href="{{ event.pk }}/view_response"> view response </a></h3> {% if editable %}  <form action="/rsvp/event/{{ event.id }}" method="POST" >    {% csrf_token %}    <button type="submit" formmethod="post"> Edit</button>
  </form>{% endif %}

<ul>
  {% if event %}
  <!-- {$ if item.date_and_time < %} -->
  <li>Event Title: {{ event.title }}</li>
  <li>Summary:<br>
      <textarea rows="4" cols="50" readonly name="summary">{{ event.summary }}</textarea></li>
    <li>Date and Time: {{ event.date_and_time|date:"Y-m-d H:i:s" }}</li><br />

  <p> Ownership & Guests </p>
  <li>Owners:
    <ul>
      {% if event.owner %}
      {% for item in event.owner.all %}
      <li> {{ item.username }} </li>
      {% endfor %}
      {% endif %}
    </ul>
  </li>
  {% if 1 %}
  <li> Vendors:
    <ul>
      {% if event.vendor_set %}
      {% for item in event.vendor_set.all %}
      <li> {{ item.people.username }} </li>
      {% endfor %}
      {% endif %}
    </ul>
  </li>
  {% endif %}
  <li> Guests:
    <ul>
      {% if event.guest_set %}
      {% for item in event.guest_set.all %}
      <li> {{ item.people.username }} has
	{% if item.response == 0 %}
	not decided
	{% endif %}
	{% if item.response == 1 %}
	decided to come
	{% endif %}
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  {% else %}
  <p> Error: No event found!</p>
  {% endif %}

<!-- if has permission -->
<li>Questions</li>
  {% if event.question_set %}
  {% for item in event.question_set.all %}
  <li> {{ item.description }} <br>
    {% if item.final %}
    <p> This question is finalized </p>
    {% endif %}
    <ul>
      {% if item.option_set %}
      {% for options in item.option_set.all %}
      {% if options.original %}
      <li> {{ options.description }} </li>
      {% endif %}
      {% endfor %}
      {% endif %}
    </ul>
  </li>
  {% endfor %}
  {% endif %}
</ul>


{% else %}
<p> Please <a href="{% url 'login' %}?next={{ next }}"> login </a>  </p>
{% endif %}

<script>
  function myFunction(blk) {
  var x = document.getElementById(blk);
  if (x.style.display === "none") {
  x.style.display = "block";
  } else {
  x.style.display = "none";
  }
  }
</script>
{% endblock %}
