{% extends "base_generic.html" %}

{% block content %}

<ul>
<p> {{ item.event.title}}, on {{ item.event.date_and_time }}. </p>
    
  <form action="/rsvp/event/{{ item.event_id }}/response" method="post">
    {% csrf_token %}
    <button type="button" onclick="myFunction ('Question')"> I'll show up!</button>
    <button type="submit" name="response" value="0"> No I won't go</button>
    <div id="Question" style="display:none">
      {% if item.event.question_set %}
      {% for question in item.event.question_set.all %}
      <li> {{ question.description }} <br>
        <ul>
          {% if question.option_set %}
          {% for options in question.option_set.all %}	  
          <input type="radio" name=question.id value=option.id id=option.id <li for=option.id> {{ options.description }} </li></br>
		 {% endfor %}
                 {% endif %}
                 </ul>
      </li>
      {% endfor %}
      {% endif %}

      <button type="submit" name="response" value="1"> Confirm!</button>
    </div>
  </form>
</ul>
      
<script>
  function myFunction(blk) {
  var x = document.getElementById(blk);
  if (x.style.display === "none") {
  x.style.display = "block";
  } else {
  x.style.display = "none";
  }
  }
</script>
{% endblock %}

