{% extends "base_generic.html" %}

{% block content %}

<h2> {{ event.title}}, on {{ event.date_and_time }}. </h2>
<p> Summary <p><br />
<p>  {{ event.summary }} </p>
  <form action="/rsvp/event/{{ event.pk }}/response" method="post">
    {% csrf_token %}
    <button type="button" onclick="myFunction ('Question')"> I'll show up!</button>
    <button type="submit" name="response" value="zero"> No I won't go</button>
    <div id="Question" style="display:none">
      {% if event.question_set %}
      {% for question in event.question_set.all %}
      <li> {{ question.description }} <br>
        <table>
          {% if question.option_set %}
          {% for option in question.option_set.all %}
	  {% if option.original %}
          <input type="radio" name="{{ question.pk }}" value="{{ option.pk }}" > {{ option.description }} <br />
	  {% endif %}
	  {% endfor %}
	  {% if question.userspecify %}
	  <input type="radio" name="{{ question.pk }}" value="-1"> Enter your response: <input type="text" name="{{ question.pk }}user" >
	  {% endif %}
          {% endif %}
        </table>
      </li>
      {% endfor %}
      {% endif %}
      <button type="submit" name="response" value="one"> Confirm!</button>
      {% if event.plus %}
      <button type="submit" name="response" value="two"> Confirm and Add Another Guest!</button>
      {% endif %}
    </div>
  </form>
      
  <script>
  function myFunction(blk) {
  var x = document.getElementById(blk);
  if (x.style.display === "none") {
  x.style.display = "block";
  } else {
  x.style.display = "none";
  }
  }
</script>
{% endblock %}

